

.components{
    position:relative;
    margin:5%;
    padding: 1%;
    border: 2px solid black;  
    width:15%;
    height:200px;
}
.content{
   position: absolute;
    bottom: 0px;
    list-style: none;
    padding-bottom:6%;
}
.modify{
    display: flex;
}
.view-btn{
    background-color: #5e69ff;
    color: #ffffff;
    padding: 2% 20% 2% 20%;
    border-radius: 6px;
    border : none;
    margin-right: 50%;
    cursor: pointer;
}


.css-i4bv87-MuiSvgIcon-root{
   cursor: pointer;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .components {
        position:relative;
       margin-left: 13%;
        padding: 1%;
        border: 2px solid black;  
        width:53%;
        height:200px;
        flex-direction: column;
    }
    .view-btn{
        background-color: #5e69ff;
        color: #ffffff;
        /* padding: 2% 20% 2% 20%; */
        border-radius: 6px;
        border : none;
        margin-right: 50%;
        cursor: pointer;
    }

  }